body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21292 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:8px;
  width:107px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  white-space:nowrap;
}
#u21294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u21295 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:75px;
  width:123px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u21296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u21297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u21297 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:75px;
  width:123px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u21298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u21299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
}
#u21299 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:75px;
  width:193px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u21300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:189px;
  word-wrap:break-word;
}
#u21301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u21301 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:75px;
  width:190px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u21302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u21303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:2px;
}
#u21303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:1283px;
  height:1px;
}
#u21304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u21305 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:35px;
  width:135px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u21306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u21307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u21307 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:35px;
  width:135px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099CC;
}
#u21308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u21309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u21309 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:35px;
  width:35px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21311 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21313 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:127px;
  width:150px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u21315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21315 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21317 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21319 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:0px;
  width:269px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:265px;
  word-wrap:break-word;
}
#u21321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1284px;
  height:2px;
}
#u21321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:1283px;
  height:1px;
}
#u21322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:178px;
}
#u21323 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:0px;
  width:1px;
  height:177px;
}
#u21324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21325 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:124px;
  width:1px;
  height:44px;
}
#u21326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21327 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:126px;
  width:1px;
  height:44px;
}
#u21328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21329 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21331 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:126px;
  width:1px;
  height:44px;
}
#u21332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21333 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:126px;
  width:1px;
  height:44px;
}
#u21334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21335 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21337 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:125px;
  width:1px;
  height:44px;
}
#u21338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:105px;
}
#u21339 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:5px;
  width:370px;
  height:105px;
}
#u21340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21341 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:127px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u21343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u21343 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:126px;
  width:1px;
  height:44px;
}
#u21344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21345 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:200px;
  width:1280px;
  height:480px;
}
#u21346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21347 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:250px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21349 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:292px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21351 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:335px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21353 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:377px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21355 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:420px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21356 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21357 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:462px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21359 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:505px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21361 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:547px;
  width:148px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u21362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u21363 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:463px;
  width:200px;
  height:25px;
}
#u21363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21364 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:505px;
  width:200px;
  height:25px;
}
#u21364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21365 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:547px;
  width:200px;
  height:25px;
}
#u21365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21366 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:251px;
  width:202px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u21368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21368 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:293px;
  width:202px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u21369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:198px;
  word-wrap:break-word;
}
#u21370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21370 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:620px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u21372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
}
#u21372 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:336px;
  width:202px;
  height:25px;
  text-align:left;
}
#u21373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:198px;
  word-wrap:break-word;
}
#u21374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
}
#u21374 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:378px;
  width:202px;
  height:25px;
  text-align:left;
}
#u21375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:198px;
  word-wrap:break-word;
}
#u21376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
}
#u21376 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:420px;
  width:202px;
  height:25px;
  text-align:left;
}
#u21377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:198px;
  word-wrap:break-word;
}
#u21378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21378 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:210px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
